einops
lpips
matplotlib
monai
numpy
pandas
pillow
pytorch-lightning
pytorch_msssim
scikit-learn

streamlit
torch # pip install torch --extra-index-url https://download.pytorch.org/whl/cu113
torch-fidelity
torchio
torchmetrics
torchvision
